/*Vamos a crear una variable desde la pseudoclase root para poder acceder a
estas variables desde cualquier parte del documento*/
:root {
    --padding-container: 50px 0; /*Arriab y abajo 50px, ixquierda y derecha 0*/
}

/*Reseteo de margenes y paddings y boz-sizing para que el padding y border se
incluyan dentro del width y height*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Este es el contenedor de la página*/
.mi_contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /*Centramos verticalmente el contenedor*/
    overflow: hidden; /*Para que no se salga nada del contenedor, si se sale se esconde*/
    padding: var(--padding-container);
    /* background-color: black;*/
}
.mi_menu {
    /*background: rgba(0,0,0,0.5);*/
    display: flex; /* Activamos flexbox*/
    flex-flow: row nowrap; /* Los elementos van en fila y no se envuelven*/
    height: 100px;
    align-items: center; /* Alineamos los elementos verticalmente al centro*/
    --padding-container: 0; /*Anulamos el padding del contenedor solo para el menu*/
}
.logo {
    flex: 0 1 auto; /* El logo ocupa su espacio natural*/
    max-width: 90px; /* Máximo ancho del logo*/
    min-width: 60px; /* Mínimo ancho del logo*/
}
.menu_nav {
    flex: 2 1 70%; /*El menu ocupa 70% del espacio disponible*/
    display: flex;
    justify-content: space-evenly; /* Distribuimos los elementos del menu equitativamente*/
}
.menu_nav a {
    text-decoration: none;
    color: white;
}
.menu_social {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly; /* Distribuimos los elementos del menu equitativamente*/
}
.menu_social a img {
    width: 32px;
    min-width: 20%;
}
.mi_header {
    width: 100%;
    height: 100vh; /* Altura de la ventana del navegador 100vh = full height of viewport*/
    min-height: 600px;
    max-height: 800px;
    position: relative;
}
.mi_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg, /*Fondo gradiente*/
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.5) 100%
    ),
    url(../img/ordenador-fondo.jpg);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 85%, 50 95%, 0 85%, 0 0);
    z-index: -1;
}
.header_container {
    height: 75%;
    display: flex;
    flex-direction: column; /* Los elementos van en columna*/
    justify-content: center; /*Centramos verticalmente*/
    color: white;
    text-align: center;
    max-width: 800px;
}
.header_title {
    font-size: 3rem;
    padding: 20px 0;
}
.header_paragraph {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 25px;
}
.cta {
    display: inline-block;
    background-color: blue;
    align-self: center; /*Centramos el botón horizontalmente*/
    color: white;
    padding: 13px 30px;
    border-radius: 32px;
}