/*Vamos a crear una variable desde la pseudoclase root para poder acceder a
estas variables desde cualquier parte del documento*/
:root {
    --padding-container: 50px 0; /*Arriab y abajo 50px, ixquierda y derecha 0*/
}

/*Reseteo de margenes y paddings y boz-sizing para que el padding y border se
incluyan dentro del width y height*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Este es el contenedor de la página*/
.mi_contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /*Centramos verticalmente el contenedor*/
    overflow: hidden; /*Para que no se salga nada del contenedor, si se sale se esconde*/
    padding: var(--padding-container);
    /* background-color: black;*/
}
.mi_menu {
    /*background. rgba(0,0,0,0.5);*/
    display: flex; /* Activamos flexbox*/
    flex-flow: row nowrap; /* Los elementos van en fila y no se envuelven*/
    height: 100px;
    align-items: center; /* Alineamos los elementos verticalmente al centro*/
    --padding-container: 0; /*Anulamos el padding del contenedor solo para el menu*/
}
.logo {
    flex: 0 1 auto; /* El logo ocupa su espacio natural*/
    max-width: 90px; /* Máximo ancho del logo*/
    min-width: 60px; /* Mínimo ancho del logo*/
}
.menu_nav {
    flex: 2 1 70%; /*El menu ocupa 70% del espacio disponible*/
    display: flex;
    justify-content: space-evenly; /* Distribuimos los elementos del menu equitativamente*/
}
.menu_nav a {
    text-decoration: none;
    color: white;
}
.menu_social {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly; /* Distribuimos los elementos del menu equitativamente*/
}
.menu_social a img {
    width: 32px;
    min-width: 20%;
}