/*Esto es para añadir una fuente en el fichero css (importar una fuente)*/ 
@import url(https://fonts.googleapis.com/css?family=Audiowide);
/*Si te pide que lo añadas en el .html:
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'><style> */

:root {
    --color_fondo_principal: #f3fdbc;
    --color_fondo_menu_nav: #f1b4b8;
    --color_titulos: #2d07fb;
    --color_borde_discontinuo: #ff9e26;
    --color_fondo_enlace_selec: #eeeeee;
    --color_enlace_selec: #ff0000;
    --color_texto: #008000;
}

body {
    box-sizing: border-box; /* Hace que las propiedades width y heigth incluyan el borde y el relleno.*/
    margin: 0 auto; /*Para centrar contenedores en la página horizontalmente */
    width: 80%;
    background-color: var(--color_fondo_principal); /*Color amarillo del fondo principal*/
}


/*En vez de poner con el width: 80% puedes poner esto, pero mejor el width en el body para que se adapte a la página y quede todo por igual
header, main, footer {
    margin: 0 20px;
} */

/*Solo se modificaran los h1 de la cabecera "header"*/
header h1 {
    /*Es la fuente, en este caso la que hemos importado para los h1 de la cabecera*/
    font-family: AudioWide; 
    text-align: center; /* Centrado de texto de h1*/
    color: var(--color_titulos); /* Color de la fuente*/
}

p {
    /*Todos los párrafos con fuente Arial*/
    font-family: Arial; 
}

/*Menú de navegación de la cabecera (aunque solo haya uno por si luego añadimos alguno y no queremos el mismo estilo*/
header nav {
    background-color: var(--color_fondo_menu_nav);
}

header nav ul {
    /*Cambio de relleno del bloque lista*/
    padding-left: 0px;
}

header nav li {
    /*Quitamos el punto de la viñeta*/
    list-style-type: none;
    float: left;
    margin-left: 0;
    padding: 16px 20px 16px 20px;
}

header nav li:hover { 
    /*Cambio de fondo y color de fuente cuando pasa el cursor por encima*/
    background-color: var(--color_fondo_enlace_selec);
    color: var(--color_enlace_selec);
    transition: background-color 0.5s; /*Cuando pasas el cursos por encima del color del fondo tiene un retardo de 0.5 segundos*/
}

/*No quiero que ningun enlace este subrayado */
a {
    text-decoration: none; /*Quita subrayado de lo enlaces (antigüado)*/
}

/*Si solo quieres los de la barra de navegacion
header nav a {
    text-decoration: none; 
} */

header nav::after {
    display: block;
    content: "";
    clear: both;
}

#destacado { /*Para el parrafo con el id "destacado"*/
    border-style: dashed;
    border-color: var(--color_borde_discontinuo);
    /* Otra forma de poner los 2 a la vez
    border: dashed 2px var(--color_borde_discontinuo)*/
    padding: 10px;
    background-color: #ffffcc;
}

.centrado {
    margin: 0 auto;
    display: inline-block;
}

.caja {
    border: solid 2px #0000ff;
    display: inline-block;
    margin: 15px;
    vertical-align: middle; /*Sirve para poner la caja en medio verticalmente, ya que se pone abajo por defecto. Para ponerla abajo, se pone "top".*/
    color: var(--color_texto); /*Se aplica el color del texto a toda las cajas*/
    padding: 15px;
}

.caja img {
    width: 100px;
}

/* --- Estilos para las cajas de contenido --- */

/*Pseudoselector: Primer párrafo dentro de .caja */
.caja p:first-child {
    font-weight: bold;
    text-decoration: underline;
}

.izquierda {
    float: left;
}

/*Solo se aplica al segundo párrafo dentro de la caja */
.caja p:nth-of-type(2) {
    clear: both; /*Fuerza a empezar debajo del flotado anterior*/
    padding: 5px;
}

.derecha {
    float: right;
    margin-right: 15px;
}

footer p:last-child {
    font-style: italic;
    color: #808080
}

aside {
    float: right;
}