/*Esto es para añadir una fuente en el fichero css (importar una fuente)*/ 
@import url(https://fonts.googleapis.com/css?family=Audiowide);
/*Si te pide que lo añadas en el .html:
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'><style> */

:root {
    --color_fondo_principal: #f3fdbc;
    --color_fondo_menu_nav: #f1b4b8;
    --color_titulos: #2d07fb;
    --color_borde_discontinuo: #ff9e26;
}


body {
    box-sizing: border-box; /* Hace que las propiedades width y heigth incluyan el borde y el relleno.*/
    margin: 0 auto; /*Para centrar contenedores en la página horizontalmente */
    background-color: var(--color_fondo_principal); /*Color amarillo del fondo principal*/
}


header, main, footer {
    margin: 0 10px;
}

/*Solo se modificaran los h1 de la cabecera "header"*/
header h1 {
    /*Es la fuente, en este caso la que hemos importado para los h1 de la cabecera*/
    font-family: AudioWide; 
    text-align: center; /* Centrado de texto de h1*/
    color: var(--color_titulos); /* Color de la fuente*/
}

p {
    /*Todos los párrafos con fuente Arial*/
    font-family: Arial; 
}

#destacado { /*Para el parrafo con el id "destacado"*/
    border-style: dashed;
    border-color: var(--color_borde_discontinuo);
    /* Otra forma de poner los 2 a la vez
    border: dashed 2px var(--color_borde_discontinuo)*/
    padding: 10px;
}

/*Menú de navegación de la cabecera (aunque solo haya uno por si luego añadimos alguno y no queremos el mismo estilo*/
header nav {
    background-color: var(--color_fondo_menu_nav);
}

header nav ul {
    /*Cambio de relleno del bloque lista*/
    padding-inline-start: 20px;
}

header nav li {
    /*Quitamos el punto de la viñeta*/
    list-style-type: none;
    float: left;
    margin-right: 20px;
    margin-left: 0;
    padding: 16px 0 16px 8px;
}

/*No quiero que ningun enlace este subrayado */
a {
    text-decoration: none; /*Quita subrayado de lo enlaces (antigüado)*/
}

/*Si solo quieres los de la barra de navegacion
header nav a {
    text-decoration: none; 
} */

header nav::after {
    display: block;
    content: "";
    clear: both;
}








.container {
    border: 5px solid indigo;
    width: 600px;
    height: 300px;
    margin: 20px;
}

.middle {
    border: 5px solid ;
}

